<link rel="stylesheet" href="/public/style.css">

    <h2>Cadastro de Produtos</h2>
        <hr>
        <form action="/busc/" method="post">
    
                <input type="text" name="id" id="id" placeholder="id">
    
            <input type="submit" value="Buscar">
        </form>
