<h1>Produto</h1>
      
         
<h1> {{listarProd.nome}} </h1>

<p>Este item tem {{listarProd.quantidade}} unidades em estoque</p>

<a href="/prod/edit/{{listarProd.id}}">Editar</a>
<a href="/prod/remove/{{listarProd.id}}" >excluir</a>