{{!-- Consulta ao banco de dados (CRUD) --}}

<link rel="stylesheet" href="/public/style.css">

<h2>Produtos cadastrados</h2>

<div class="prod-container lista">
    {{#each listar}}
     
    <strong> #{{this.id}} </strong> -  
    <a href="/prod/{{this.id}}">{{nome}}</a> - qtd em estoque: {{quantidade}}  <br>

    {{/each}}

</div>



